:root {
  --blue: #003954;
  --darkBlue: #012A3A;
  --white: #FFFFFF;
  --offWhite: #EFEFEF; }

html {
  box-sizing: border-box;
  font-family: 'Fauna One', serif;
  font-family: 'Playfair Display', serif;
  height: 100%;
  background-color: var(--offWhite); }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0; }

body {
  margin: 0 auto; }

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "hero header ." "hero content ." "hero content ."; }

.hero {
  grid-area: hero;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center; }

img {
  max-width: 100%; }

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 45px; }

.btn--toggle {
  font-family: 'Fauna One', serif;
  font-size: 16px;
  border: 1px solid var(--blue);
  border-radius: 30px;
  background-color: var(--offWhite);
  color: var(--blue);
  padding: 10px 12px 8px 3px; }

.btn-icon {
  width: 40px;
  display: block;
  float: left; }

.btn-icon img {
  height: 55%;
  width: 55%;
  padding-top: 2px; }

.btn-text {
  float: left;
  padding-top: 3px; }

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden; }

label {
  position: relative;
  display: none;
  visibility: hidden; }

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  transition: 0.3s; }

input:checked + label {
  background: var(--darkBlue); }

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%); }

label:active:after {
  width: 45px; }

.content {
  grid-area: content;
  color: var(--blue);
  padding-left: 40px; }

.content h4 {
  font-family: 'Fauna One', serif;
  font-size: 30px;
  font-weight: 300; }

.content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 98px;
  font-weight: bold; }

.content h1:after {
  content: "";
  display: block;
  width: 28%;
  padding-top: 20px;
  border-bottom: 3px solid var(--blue); }

.content p {
  font-family: 'Fauna One', serif;
  max-width: 35%;
  margin-top: 40px;
  padding-bottom: 30px; }

a.button {
  font-family: 'Fauna One', serif;
  font-size: 20px;
  border: 1px solid var(--blue);
  border-radius: 30px;
  background-color: var(--white);
  text-decoration: none;
  color: var(--blue);
  padding: 12px 25px;
  box-shadow: 3px 3px 15px 6px rgba(0, 0, 0, 0.19); }
