:root {
    --text: #003954;
    --background: #EFEFEF;
    --white: #FFFFFF:
}


html {
    box-sizing: border-box;
    font-family: 'Fauna One', serif;
    font-family: 'Playfair Display', serif;
    height: 100%;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

body {
    margin: 0 auto;
    background-color: var(--background);
    color: var(--text);
}

.dark-mode {
    background-color: #003954;
}

.dark-mode p {
    color: white;
}

.dark-mode h4 {
    color: white;
}

.dark-mode h1 {
    color: white;
}

.dark-mode .button {
    background-color: #012A3A;
    color: white;
    border: 1px solid white;
    box-shadow: none;
}

.dark-mode .theme-switch {
    background-color: #003954;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.dark-mode .content h1:after {
    border-bottom: 3px solid white;
}

.dark-mode svg path {
    fill: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "hero header ."
    "hero content ."
    "hero content ."
}

.hero {
    grid-area: hero;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

img {
    max-width: 100%;
}

.header {
    grid-area: header;
    display: block;
    justify-content: space-between;
    align-items: start;
    margin: 45px 45px 45px 15px;
}

.theme-switch {
    font-family: 'Fauna One', serif;
    font-size: 16px;
    border: 1px solid var(--text);
    border-radius: 30px;
    background-color: var(--background);
    color: var(--text);
    padding: 10px 15px 5px 5px;
    float: right;
    cursor: pointer;
}

button {
    outline: none;
}

.btn-icon {
    width: 40px;
    display: block;
    float: left;
    position: relative;
}

.btn-icon svg {
    height: 63%;
    width: 63%;
    padding-top: 1px;
}

.btn-text {
    float: left;
    padding-top: 3px;
}

.content {
    grid-area: content;
    color: var(--text);
    padding-left: 40px;
}

.content h4 {
    font-family: 'Fauna One', serif;
    font-size: 30px;
    font-weight: 300;
}

.content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 98px;
    font-weight: bold;
}

.content h1:after {
    content: "";
    display: block;
    width: 28%;
    padding-top: 20px;
    border-bottom: 3px solid var(--text);
}

.content p {
    font-family: 'Fauna One', serif;
    max-width: 35%;
    margin-top: 40px;
    padding-bottom: 45px;
}

a.button {
    font-family: 'Fauna One', serif;
    font-size: 20px;
    letter-spacing: 1px;
    border: 1px solid var(--text);
    border-radius: 60px;
    background-color: var(--white);
    text-decoration: none;
    color: var(--text);
    padding: 20px 25px;
    box-shadow: 3px 3px 15px 6px rgba(0, 0, 0, 0.1);
}

/* responsive styling */

@media only screen and (min-width: 668px) and (max-width: 1024px) {

    html {
        background-color: var(--background);
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 200px auto;
        grid-template-areas: 
        "hero"
        "header"
        "content"
    }

    .hero {
        grid-area: hero;
        min-height: 0; /*add this so image height is contained in safari */
    }

    .hero img {
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }

    .header {
        grid-area: header;
    }

    .content {
        grid-area: content;
        padding-bottom: 60px;
    }

    .content h4 {
        font-size: 26px;
    }

    .content h1 {
        font-size: 80px;
        max-width: 75%;
    }

    .content h1:after {
        content: "";
        display: block;
        width: 42%;
        padding-top: 20px;
        border-bottom: 3px solid var(--text);
    }

    .content p {
        max-width: 50%;
        padding-bottom: 35px;
        font-size: 18px;
        line-height: 30px;
    }

    a.button {
        padding: 22px 28px;
        border-radius: 60px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 667px) {
    html {
        background-color: var(--background);
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 200px auto;
        grid-template-areas: 
        "hero"
        "header"
        "content"
    }

    .hero {
        grid-area: hero;
        min-height: 0; /*add this so image height is contained in safari */
    }

    .hero img {
        width: 100%;
        background-size: contain;
        overflow: hidden;
    }

    .header {
        grid-area: header;
        justify-content: space-between;
        margin: 30px 20px;
    }

    .theme-switch {
        padding: 15px 8px;
    }

    .btn-icon {
        display: none;
        visibility: hidden;
    }

    .btn-text {
        float: none;
        padding: 25px 15px;
        font-size: 16px;
    }

    .content {
        grid-area: content;
        padding-left: 20px;
        padding-bottom: 60px;
    }

    .content h4 {
        font-size: 28px;
    }

    .content h1 {
        font-size: 72px;
        max-width: 95%;
    }

    .content h1:after {
        content: "";
        display: block;
        width: 75%;
        padding-top: 20px;
        border-bottom: 3px solid var(--text);
    }

    .content p {
        max-width: 95%;
        padding-bottom: 35px;
        font-size: 18px;
        line-height: 30px;
    }

    a.button {
        padding: 22px 28px;
        border-radius: 60px;
        font-size: 20px;
    }
}