
.hero {
    grid-area: hero;
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* responsive styles */

@media only screen and (min-width: 668px) and (max-width: 1024px) {


    .hero {
        grid-area: hero;
        min-height: 0; /*add this so image height is contained in safari */
    }
}

@media only screen and (min-width: 300px) and (max-width: 667px) {


    .hero {
        grid-area: hero;
        min-height: 0; /*add this so image height is contained in safari */
    }
}